.pixelBirdWrapper {
  position: fixed;
  z-index: 1;
  animation: birdFlash 0.5s ease-in-out infinite alternate;
  .pixelBird {
    position: absolute;
    .like {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      transition: color 0.5s;
      font-size: 24px;
    }
    .body {
      z-index: -1;
    }
  }
  @keyframes birdFlash {
    from {
      filter: brightness(0.9);
    }
    to {
      filter: brightness(1.2);
    }
  }
}
