.pixel-bird {
  position: absolute;
  .like {
    position: absolute;
    top: -24px;
    left: 24px;
    transition: color 0.5s;
    transform-origin: center bottom;
  }
  .body {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    animation: flash 0.5s ease-in-out infinite alternate;
    z-index: -1;

    @keyframes flash {
      from {
        filter: opacity(0.8);
      }
      to {
        filter: opacity(1);
      }
    }
  }
}
