.pixel-bird {
  position: absolute;
  .like {
    position: absolute;
    top: -24px;
    left: 24px;
    transition: color 0.5s;
    transform-origin: center bottom;
  }
  .body {
    width: 60px;
    height: 60px;
    animation: birdFlash 0.5s ease-in-out infinite alternate;
    z-index: -1;

    @keyframes birdFlash {
      from {
        filter: brightness(0.9);
      }
      to {
        filter: brightness(1.1);
      }
    }
  }
}
