.achievementPage {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(to right, #ccc 1px, transparent 2px),
    linear-gradient(to bottom, #ccc 1px, transparent 2px);
  background-size: 20px 20px;
  background-repeat: repeat;
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
  }
  .typeWrapper {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 12px;
    padding: 0 16px;
    .typeItemWrapper {
      flex-basis: calc((100vw - 70px) / 3);
      border: 3px solid #d4af37;
      border-radius: 8px;
      background: #fff;
      position: relative;
      .bk {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        .bkItem {
          width: 100%;
          height: 24px;
          background: red;
        }
      }
      .mainWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
      }
      .title {
        font-size: 24px;
        text-align: center;
        margin-top: 4px;
        position: relative;
        z-index: 2;
        line-height: 30px;
      }
      .text {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        margin-top: 4px;
        letter-spacing: 4px;
      }
    }
  }
}
.achievementPopup {
  padding: 16px 0;
  background: linear-gradient(180deg, #ffb866 0%, #ff99cc 50%, #66d9ff 100%);
  border: 4px solid #000000;
  border-radius: 8px;
  color: #4d004d;
  .popTitle {
    text-align: center;
    padding-bottom: 12px;
    font-size: 28px;
  }
  .listItemWrapper {
    padding: 0 16px;
    margin-bottom: 12px;
    display: flex;
    .icon {
      min-width: 36px;
      height: 36px;
      margin-right: 8px;
      border: 2px solid #666;
      margin-top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .isSelected {
      background: #7acc4d;
    }
    .title {
      font-size: 24px;
    }
    .desc {
      font-size: 18px;
      margin-top: 4px;
      color: #444;
    }
  }
}
