.achievementPage {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(to right, #ccc 1px, transparent 2px),
    linear-gradient(to bottom, #ccc 1px, transparent 2px);
  background-size: 20px 20px;
  background-repeat: repeat;
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
  }
}
