.mainPage {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url($MAIN_BK)
    right bottom / 100% 100% no-repeat;
  animation:
    flash 0.5s ease-in-out infinite alternate,
    opacity 1s ease-in-out forwards;
  .pannel {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23%;
    z-index: 1;

    background-image: linear-gradient(
      90deg,
      #8fc8e0 0%,
      /* 原图水域主青蓝（深一点像素块） */ #aad6e8 25%,
      /* 浅一级青蓝（像素过渡） */ #bfe0f0 50%,
      /* 浅蓝白（像素高光） */ #aad6e8 75%,
      /* 回退浅青蓝 */ #8fc8e0 100%
    );
    background-size: 200% 100%;

    image-rendering: pixelated;

    mask-image: linear-gradient(to top, black 90%, transparent 100%);

    animation: water-flow 2s linear infinite;
    opacity: 0.45;
  }

  @keyframes water-flow {
    0% {
      background-position-x: 0;
    }
    25% {
      background-position-x: 50%;
    }
    50% {
      background-position-x: 100%;
    }
    75% {
      background-position-x: 50%;
    }
    100% {
      background-position-x: 0;
    }
  }
}