@import "../../common/theme.scss";

.mainPage {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url("https://raw.githubusercontent.com/just-00/game-image-cdn/main/0255557287c44c29b93f9f5c0d7812f8.jpeg%7Etplv-a9rns2rl98-image_raw_b.png")
    right bottom / 100% 100% no-repeat;
  animation:
    flash 0.5s ease-in-out infinite alternate,
    opacity 1s ease-in-out forwards;
  .pannel {
    position: absolute;
    top: 12px;
    right: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23%;
    z-index: 1;

    background-image: linear-gradient(
      90deg,
      #8fc8e0 0%,
      /* 原图水域主青蓝（深一点像素块） */ #aad6e8 25%,
      /* 浅一级青蓝（像素过渡） */ #bfe0f0 50%,
      /* 浅蓝白（像素高光） */ #aad6e8 75%,
      /* 回退浅青蓝 */ #8fc8e0 100%
    );
    background-size: 200% 100%;

    image-rendering: pixelated;

    mask-image: linear-gradient(to top, black 90%, transparent 100%);

    animation: water-flow 2s linear infinite;
    opacity: 0.45;
  }

  @keyframes water-flow {
    0% {
      background-position-x: 0;
    }
    25% {
      background-position-x: 50%;
    }
    50% {
      background-position-x: 100%;
    }
    75% {
      background-position-x: 50%;
    }
    100% {
      background-position-x: 0;
    }
  }

  /* 雪花叠加层 */
  .snow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at 30% 20%,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    );
    background-size: 50px 50px;
    mix-blend-mode: screen;
    opacity: 0.6;
    animation: snowDrift 60s linear infinite;
  }

  @keyframes snowDrift {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100px 200px;
    }
  }
}
