.routeSelectPage {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url($ROUTE_SELECT_BK)
    right bottom / 100% 100% no-repeat;
  .buttonWrapper {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    @extend .secondary;
    width: 200px;
    height: 50px;
    margin-bottom: 32px;
  }
  .title{
    @extend .bareTitle;
    margin-bottom: 60px;
  }
  .birdWrapper{
    position: absolute;
    bottom: 296px;
    right: 0;
    transform: scaleX(-1) rotate(-10deg);
  }
  .bearWrapper{
    position: absolute;
    right: 200px;
    bottom: 280px;
  }
}

