.pannelRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  .speedTime {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
  .speedIconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tip {
      font-size: 12px;
      text-align: center;
      margin-top: 2px;
    }
  }
  .mainPannel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 8px;
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.6);
    .leftWrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      .timeAndDistance {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
    .rightWrapper {
      display: flex;
      .rightWeatherWrapper {
        display: flex;
        padding: 8px;
        gap: 8px;
        margin-right: 4px;
      }
      .rightMainWrapper {
        padding: 0 8px;
        // border: 2px solid rgba(135, 206, 235, 0.3);
        // background: rgba(135, 206, 235, 0.6);
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  @keyframes bagFlash {
    from {
      filter: brightness(0.9) blur(0.3px) saturate(0.7);
    }
    to {
      filter: brightness(1.1) blur(0.3px) saturate(0.7);
    }
  }
}
.bagRow {
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
  .bagWrapper {
    width: 48px;
    height: 48px;
    animation: bagFlash 0.5s ease-in-out infinite alternate;
  }
}
