.pixelToast {
  color: rgba(0, 0, 0, 0.6);
  width: 240px;
  min-height: 125px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: linear-gradient(
    90deg,
    #e8ca9a 0%,
    #d6b27c 20%,
    #e8ca9a 40%,
    #d6b27c 60%,
    #e8ca9a 80%,
    #d6b27c 100%
  );

  border: 4px solid #8b5a2b;
  border-radius: 4px;
  box-shadow: inset -2px -2px 0 #7a522a;
  .centerCardToastWrapper {
    font-size: 18px;
    padding: 12px 0;
    padding-left: 8px;
    line-height: 32px;
  }
  .mountingAnimationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 24px;
      padding: 12px 8px;
      line-height: 28px;
    }
    .desc {
      margin-top: 2px;
      position: relative;
      display: flex;
      justify-content: center;
      .warningFont {
        font-size: 36px;
        color: #e69a17;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        animation: flash 0.2s ease-in-out infinite alternate;
      }
    }
  }
  .close-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    border: 4px solid #8b5a2b;
    background: #d4a373;
    color: #5a3817;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 900;
  }
  .close-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    right: -16px;
    left: -16px;
    bottom: -16px;
  }
}
