.achievementToast {
  position: fixed;
  right: 0;
  bottom: 16px;
  z-index: 8;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #d4af37;
  animation: bounce 1s infinite ease-in-out;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      filter: brightness(1.1);
    }
    50% {
      transform: translateY(-2px);
      filter: brightness(0.9);
    }
  }
  .text {
    margin-left: 2px;
  }
}
