.pixel-dialog {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  width: 240px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: linear-gradient(
    90deg,
    #e8ca9a 0%,  
    #d6b27c 20%, 
    #e8ca9a 40%,
    #d6b27c 60%,
    #e8ca9a 80%,
    #d6b27c 100%
  );
  
  border: 4px solid #8b5a2b; 
  border-radius: 4px;
  box-shadow: 
    inset -2px -2px 0 #7a522a;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    font-size: 24px;
    padding: 18px 8px;
    line-height: 28px;
  }
  .buttonWrapper{
    display: flex;
    width: 100%;
    align-items: center;
    .button{
      flex: 1;
      font-size: 18px;
      text-align: center;
      padding: 16px 0;
      color: rgba(255,255,255,0.7);
      background: #7a522a;
    }
    .button:first-child{
      border-right: 4px solid #8b5a2b; 
    }
  }
}