.pixel-dialog {
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    opacity: 0.95;
    width: 280px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.05) url($DIALOG_PROLOAD_TITLE) right bottom /
      100% 100% no-repeat;

    .text {
      padding-left: 24px;
      padding-right: 18px;
      line-height: 30px;
      text-align: center;
    }
  }
  .desc {
    margin-top: 12px;
    width: calc(100% - 60px);
    .buttonWrapper {
      position: relative;
    }
    .button {
      opacity: 0.85;
      width: 100%;
      height: 84px;
      background: url($DIALOG_PROLOAD_BUTTON) right bottom / 100% 100% no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      color: rgba(255, 255, 255, 0.8);
      z-index: 1;
    }
    .button:not(:first-child) {
      margin-top: 12px;
    }
  }
  .eventPicWrapper {
    position: absolute;
    top: -82px;
    animation: flash 0.4s ease-in-out infinite alternate;
  }
}
.optionPicWrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
.restartWrapper {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  .button {
    @extend .third;
  }
}

.centerCardEndWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0;
  .title {
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 2px;
  }
}
