.pixel-bear {
  position: absolute;
  .body {
    filter: blur(0.5px);
    // animation: bouncing 0.5s ease-in-out infinite alternate;
    z-index: -1;
  }
  @keyframes bouncing {
    0%,
    100% {
      transform: translateX(2px);
    }
    20% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-2px);
    }
    60% {
      transform: translateX(2px);
    }
    80% {
      transform: translateX(2px);
    }
  }
}
