@font-face {
  font-family: "iconfont logo";
  src: url("https://raw.githubusercontent.com/just-00/game-image-cdn/main/iconfont.ttf")
    format("truetype");
}
$fontColor: rgba(0, 0, 0, 0.6);
.speedTime{
  font-size: 16px;
  font-weight: bold;
  color: $fontColor;

}

.speedIconWrapper {
  .icon {
    font-family: "iconfont logo";
    color: $fontColor;
    font-size: 28px;
  }
  .tip {
    font-size: 12px;
    color: $fontColor;
    font-weight: bold;
    text-align: center;
  }
}
.speedPannel{
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding: 4px 16px;
  background: rgba(255, 255, 255, 0.6);
}