.gameToast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a473e;
  border: 4px solid #c4c4c4;
  outline: 2px solid #1e2521;
  border-radius: 6px;
  box-shadow: 0 0 0 2px #6a786e;
  color: #ffffff;
  z-index: 4;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.gameToastText {
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #1e2521;
}
