@import "../../common/theme.scss";
$fontcolor: rgba(0, 0, 0, 0.6);

.selectEquipment {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "MyFont";
  top: 0;
  background: url("https://raw.githubusercontent.com/just-00/game-image-cdn/main/0c72a9ddbb1a407997383021a90a19c1.jpeg%7Etplv-a9rns2rl98-image_raw_b%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1).png")
    right bottom / 100% 100% no-repeat;
  .space {
    display: inline-block;
    width: 3px;
  }
  .title {
    @extend .bareTitle;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 20px;
    font-size: 36px;
  }
  .desc {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: $fontcolor;
  }
  .detaiWrapper {
    flex:1;
    margin-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    background: rgba(255, 222, 173, 0.8);
    .pageWrapper {
      width: 100%;
      padding-top: 8px;
      padding-bottom: 4px;
      .mainWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .pageNumber{
            padding: 0 8px;
            font-weight: bold;
            color: $fontcolor;
        }
        .playIcon {
          border: 4px solid white;
          padding: 4px;
          border-radius: 50%;
          background: white;
        }
      }
    }
    .detailItemWrapper{
      width: 100%;
      height: 400px;
    }
    .detailItem {
      display: flex;
      color: $fontcolor;
      font-weight: bold;
      padding: 8px 24px;
      .img{
        border-radius: 4px;
      }
      .mainWrapper {
        margin-left: 8px;
        .sizeAndWeight {
          font-size: 14px;
          margin-top: 8px;
          margin-left: 4px;
        }
      }
      .step{
        margin-left: auto;
        &>button:not(.rv-stepper__minus--disabled){
          background:$gold;
          color: $orange;
        }
        &>input{
          color: $orange;
          font-family: "MyFont";
        }

      }
    }
    .submitButton{
          @extend .secondary;
          height: 48px;
          width: 160px;
          margin: 8px auto 0 auto;
          font-size: 24px;
    }
  }
}
