body,
html {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "MyFontHome";
  src: url("https://raw.githubusercontent.com/just-00/game-image-cdn/main/homefont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("https://raw.githubusercontent.com/just-00/game-image-cdn/main/ZLabsRoundPix_16px_M_CN.woff")
    format("woff");
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "MyFont";
  font-weight: bold;
}
