body,
html {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "MyFontHome";
  src: url($HOME_FONT) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url($MY_FONT) format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iconfont logo";
  src: url($ICON_FONT) format("truetype");
}
* {
  font-family: "MyFont";
  font-weight: bold;
}
