.snowBk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.snow {
  position: absolute;
  top: -10%;
  color: #fff;
  user-select: none;
  will-change: transform;
}

// 定义飘落动画
@keyframes snowfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
