.primary,
.secondary {
  text-decoration: none;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.primary {
  background-color: $lightgold;
  color: $orange;
  border: 4px solid $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}
.secondary {
  background-color: $orange;
  opacity: 0.8;
  color: $lightgold;
  border: 4px solid $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}
.third {
  text-shadow:
    2px 2px 0 #000000,
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000;
  color: #fff;
  box-shadow:
    0 2px 0 0 #666,
    2px 0 0 0 #666;
  background: linear-gradient(135deg, #d4a373 0%, #e9c46a 50%, #d4a373 100%);
  background-size: 4px 4px;
  padding: 12px 32px;
  border-radius: 16px;
}
.bareTitle {
  background: linear-gradient(0deg, $orange, $orangered);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 48px;
}
.clearA {
  text-decoration: none;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.fontIcon {
  font-family: "iconfont logo";
  font-size: 28px;
}

@keyframes opacity {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes flash {
  from {
    filter: brightness(0.9);
  }
  to {
    filter: brightness(1.1);
  }
}
