.primary,
.secondary {
  text-decoration: none;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.primary {
  background-color: $lightgold;
  color: $orange;
  border: 4px solid $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}
.secondary {
  background-color: $orange;
  opacity: 0.8;
  color: $lightgold;
  border: 4px solid $gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-decoration: none;
}
.bareTitle {
  background: linear-gradient(0deg, $orange, $orangered);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 48px;
}
.clearA {
  text-decoration: none;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: "iconfont logo";
  src: url("https://raw.githubusercontent.com/just-00/game-image-cdn/main/iconfont51.ttf")
    format("truetype");
}
.fontIcon {
  font-family: "iconfont logo";
  font-size: 28px;
}

@keyframes opacity {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes flash {
  from {
    filter: brightness(0.9);
  }
  to {
    filter: brightness(1.1);
  }
}
