$gold: gold;
$lightgold: #ffe082;
$orange: #e67e22;
$orangered: orangered;
$SELECT_EQUIPMENT_BK: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/0c72a9ddbb1a407997383021a90a19c1.jpeg%7Etplv-a9rns2rl98-image_raw_b%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1)%20(1).png";
$ROUTE_SELECT_BK: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/5137ede1b7cb4b55b457db812dc52d31.jpeg%7Etplv-a9rns2rl98-image_pre_watermark_1_5b.png";
$DIALOG_PROLOAD_TITLE: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/17d6855282c74cac8e71d134becee04b.jpeg_tplv-a9rns2rl98-image_raw_b-removebg-preview.png";
$DIALOG_PROLOAD_BUTTON: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/image-removebg-preview.png";
$MAIN_BK: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/0255557287c44c29b93f9f5c0d7812f8.jpeg%7Etplv-a9rns2rl98-image_raw_b.png";
$HOME_BK: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/moutain_bak10.jpg";

$ICON_FONT: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/iconfont51.ttf";
$HOME_FONT: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/homefont.woff";
$MY_FONT: "https://raw.githubusercontent.com/just-00/game-image-cdn/main/ZLabsRoundPix_16px_M_CN.woff";
